<?xml version="1.0" encoding="UTF-8"?>
<suite name="ebanking">
    <test name="roles test">
        <classes>
            <class name="kexim.ebanking.TestExecution">
                <methods>
                    <include name="testRoleCreation"/>
                    <include name="testRoleCreationReset"/>
                    <inlcude name="testRoleCreationCancelWithOutData"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>